<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Team SkyNet's Website</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
</head>
<body>
  <div>
      <h1>Welcome to SkyNet's application</h1>
    {{{body}}}
</div>
<div>

<form action="/event" method="post">
      <fieldset>
        <legend>Add an event</legend>
        <p>
          <label>Title</label>
          <input name="title" 
                 type="text"
                 value = "Title Here" />
        </p>
        <p>
          <label>Description</label>
          <input name="description" 
                 type="text" 
                 value = "description here" />
        </p>
        <p>
          <label>Location</label>
          <input name="location" 
                 type="text" 
                 value = "location here" />
        </p>
        <input type="submit" name="submit" value="submit" />
      </fieldset>
</form>

  <!--<h2>Add an event</h2>
    <form action="/event" method="post">
       title: <input name="title" type="text" /> <br />
       description: <input name="description" type="text" /> <br />
       <br />
        <input type="submit" name="submit" value="submit" />
    </form> -->
  </div>
</body>
</html>